<div id="<%= dom_id offer %>">
      <div class="card">
        <h5 class="card-header"> <%= offer.titulo%></h5>
          <div class="card-body">
            <h5 class="card-title"> </h5>
            <p class="card-text"> <%= offer.descripcion%></p>

          </div>
      </div>
</div>